{% extends 'layout.html' %}

{% block title %}
    My User Profile
{% endblock %}    

{% block content %}
    <div class="container">
        <section>
            <h1>{{ user.username }}'s Profile Settings</h1> 
            <p>
                Please, don't hesitate to tell us more about yourself ;&#41;
                You can do it here:
            </p>                        
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save changes</button>
            </form>
        </section>
    </div>
{% endblock %}