{% extends 'layout.html' %}

{% block title %}
    Journal entries
{% endblock %}    

{% block content %}
    <div class="container">
        <section>
        <h1>Journal entries</h1>       
        {% for entry in entries %} 
            <article class="entry">
                <h2><a href="{% url 'entries:page' slug=entry.slug %}">{{ entry.entry_date }}</a></h2>
                <p>{{ entry.mood_score }}</p>
                <p>{{ entry.body }}</p>
            </article>
        {% endfor %}
        </section>
    </div>
{% endblock %}

